.rowPoster {
  margin-bottom: 60px;
}

.containerPoster {
  display: flex;
  flex-wrap: wrap;
  flex: 20 1 auto;
  flex-direction: row;
}

.poster {
  width: 15%;
  margin: 0.5%;
  flex-grow: 1;
  flex: 1 1 auto;
  position: relative;
}

.poster img {
  width: 100%;
}

.poster .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 10px 5px 10px;
  background-color: #00000099;
  color: var(--mainColor);
  text-shadow: 0 0 5px #000000bf;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
