.slick-slider {
  margin-bottom: 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-next {
  right: 10px;
  text-shadow: 0 0 5px #00000096;
}

.slick-prev {
  left: 10px;
  z-index: 1;
  text-shadow: 0 0 5px #00000096;
}

.title {
  position: absolute;
  bottom: 0%;
}

.title p{
  color: var(--mainColor);
  margin-left: 10px;
  background: #00000099;
  padding: 5px 10px;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 5px #000000bf;
}

.loader {
  position: absolute;
  left: 50%;
  top: 40%;
}
