.slick-slider {
  margin-bottom: 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-next {
  right: 10px;
  text-shadow: 0 0 5px #00000096;
}

.slick-prev {
  left: 10px;
  z-index: 1;
  text-shadow: 0 0 5px #00000096;
}

.slick-slider .info {
  width: auto;
  max-width: 300px;
  margin: 10px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 40%;
}
