@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.overview {
  color: var(--white);
  font-size: 18px;
  font-weight: 100;
  padding-top: 10px;
  width: 100%;
  float: left;
}

.containerDetail h3 {
  color: var(--white);
}

.trailer {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fadeIn .3s linear;
}

.trailer .iconClose {
  color: var(--white);
  cursor: pointer;
}
