@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.poster {
  float:left;
  position: relative;
}

.poster .posterLink {
  opacity: 1;
  transition: .3s;
}

.poster .posterLink:hover {
  opacity: 0.5;
  cursor: pointer;
}

.poster .iconPlay {
  position: absolute;
  top: 33%;
  left: 30%;
  color: var(--white);
  display: none;
}

.poster:hover .iconPlay {
  display: block;
}

.infoDetailView {
  width: 84%;
  padding: 0 20px;
  float: left;
}

.title {
  color: var(--white);
  float: left;
  font-size: 32px;
  font-weight: 100;
  width: 100%;
}

.ratingDetailView {
  font-size: 22px;
  color: white;
  padding-bottom: 10px;
  width: 100%;
  float: left;
}

.secondaryInfo {
  width: 100%;
  float: left;
}

.secondaryInfo {
  color: var(--white);
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}

.secondaryInfo p {
  margin: 0;
}

.genres {
  padding: 0;
}

.genres li {
  color: var(--white);
  list-style-type: none;
  float:left;
}

.genres li::after {
  content: ", ";
  white-space: pre;
}

.genres li:last-child::after {
  content: "";
}

.overview {
  color: var(--white);
  font-size: 18px;
  font-weight: 100;
  padding-top: 10px;
  width: 100%;
  float: left;
}

.containerDetailView h3 {
  color: var(--white);
}

.trailer {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-top: 77px;
  transform: translateX(-50%);
  transition: fadeIn .3s linear;
}

.trailer .iconClose {
  color: var(--white);
  cursor: pointer;
}
