.layer {
  background: linear-gradient(to bottom, rgba(0,0,0,0) -150%,rgba(0,0,0,1) 90%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.containerDetailView {
  background-color: #00000000;
  width: 1000px;
  min-height: calc(100vh - var(--headerFooterHeight));
  opacity: 1;
  margin: auto;
  padding-top: 100px;
  text-shadow: var(--textShadow);
}
