.wrapperCard {
  display: flex;
}

.poster {
  float:left;
  position: relative;
}

.poster .posterLink {
  opacity: 1;
  transition: .3s;
}

.poster .posterLinkHover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.poster .iconPlay {
  position: absolute;
  top: 33%;
  left: 30%;
  color: var(--white);
  display: none;
}

.poster:hover .iconPlay {
  display: block;
}

.infoDetail {
  width: 84%;
  padding: 0 20px;
  float: left;
}

.title {
  color: var(--white);
  float: left;
  font-size: 32px;
  font-weight: 100;
  width: 100%;
}

.ratingDetail {
  font-size: 22px;
  color: white;
  padding-bottom: 10px;
  width: 100%;
  float: left;
}
