.rows {
  margin-bottom: 30px;
}

.rows:last-child {
  margin-bottom: 0px;
}

.containerPoster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.rowPoster {
  display: flex;
}

.rowPoster .poster {
  flex-grow: 1;
  flex: 1 1 auto;
  position: relative;
}

.wrapperRow {
  display: inline-block;
  float: left;
}
