.rows {
  margin-bottom: 30px;
}

.rows:last-child {
  margin-bottom: 0px;
}

.rowPoster {
  display: flex;
}

.rowPoster .poster {
  position: relative;
  margin-right: 8px;
  margin-bottom: 10px;
  background-color: gray;
  display: inline-block;
  float: left;
}

.rowPoster .poster:nth-child(6n) {
    margin-right: 0px;
}

.wrapperRow {
  display: inline-block;
}
