.rows {
  margin-bottom: 30px;
}

.rows:last-child {
  margin-bottom: 0px;
}

.containerPoster {
  display: flex;
  flex-wrap: wrap;
  flex: 20 1 auto;
  flex-direction: row;
}

.rowPoster .poster {
  flex-grow: 1;
  flex: 1 1 auto;
  position: relative;
}

.wrapperRow {
  display: inline-block;
}
